<a href="https://colab.research.google.com/github/shank10/CV/blob/master/stock_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import datetime
import csv
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# New Section
Download CSV from https://www1.nseindia.com/products/content/equities/equities/eq_security.htm for the symbol of interest

In [52]:
df=pd.read_csv("/content/03-01-2019-TO-01-01-2021INFYALLN.csv")
df.head()

  Symbol Series  ...      Turnover  No. of Trades
0   INFY     EQ  ...  4.571929e+09         125781
1   INFY     EQ  ...  5.208305e+09         187590
2   INFY     EQ  ...  5.370974e+09         132736
3   INFY     EQ  ...  5.801123e+09         134369
4   INFY     EQ  ...  1.229974e+10         314702

[5 rows x 13 columns]

In [53]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades'],
      dtype='object')

In [54]:
df.shape

(498, 13)

In [60]:
df_of_int = df[['Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price']]

In [61]:
df_of_int.shape

(498, 7)

In [62]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [63]:
forecast_col = 'Close Price'
forecast_out = 7
test_size = 0.2

In [64]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df_of_int,forecast_col,forecast_out,test_size);
learner = LinearRegression() #initializing linear regression model
learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.9539735721382508, 'forecast_set': array([1271.40341136, 1253.98087119, 1258.33650623, 1268.58505927,
       1264.99806571, 1274.22176344, 1278.98734061])}